body {
  margin: 0;
  background: #000;
  overflow: hidden;
}

p {
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 280px;
  font-family: Arial, sans-serif;
}

#sphere-outline {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  animation: rotateSphere 20s linear infinite;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  overflow-x: auto;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0), 0
}
.ascii-scroll {
    overflow-x: auto;
    white-space: nowrap;
    font-family: monospace;
    background: #ffffff00;
    padding: 1em;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  background: #11111100;
  color: rgb(255, 255, 255);
  font-family: monospace;
}

.scroll-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 45s linear infinite;
}

.point {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: center center;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes rotateSphere {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(360deg) rotateX(360deg);
  }

}
