html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(150, 180, 160, 0.555);
    font-family: "M PLUS Rounded 1c",sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.3rem;
}


img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

.aa {
    font-family: "MS Gothic", "Osaka-Mono", "Courier New", monospace;
    white-space: pre;
    font-size: 16px;
    line-height: 18px;
    overflow-x: auto;
    display: block;
}

.aa {
    background-color: rgba(150, 180, 160, 0);
    border: 1px solid #cccccc00;
    padding: 10px;
}

.aa-wrapper {
    text-align: center;
    margin: 20px 0;
}



.site-title {
    line-height: 1.2;
    font-weight: 600;
    font-size: 2.4rem;
}    

.site-title a {
    color: rgba(185, 125, 125, 0.925);
    display: block;
    transition: all 0.3s ease;
}

.site-title a:hover {
    opacity: 1.8;
    color: rgba(240, 45, 45, 0.815);
}



#header {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    height: 170px;
}


#header ul {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

#header ul li {
    font-size: 0.9rem;
    margin-left: 30px;
}

#header ul li a {
    color: rgb(115, 160, 160);
    transition: all 0.3s ease;
}

#header ul li a:hover {
    opacity: 0.9;
    color: rgba(15, 100, 180, 0.925);
}

#header li img.icon {
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#header li img.icon:hover {
    transform: scale(1.35);
}




.sec-title {
    margin: 30px auto;
    width: 70px;
    color: rgba(210, 160, 90, 0.925);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
    cursor: pointer;
    transition: color 0.3s ease;
}


.sec-title:hover {
    color: #cc7400;
}


.wrapper {
    font-size: 0.9rem;
    max-width: 960px;
    margin: 0 auto 130px auto;
    padding: 0 4%;
}


#about ul {
    margin-bottom: 30px;
}

#about ul li {
    margin-bottom: 3px;
}

#about ul li:first-child {
    margin-bottom: 30px;
}



#works ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

#works ul li {
    width: 31%;
    margin-bottom: 23px;
}

#works ul li img {
    width: 500px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s;
}

#works ul li img:hover {
    transform: scale(1.1, 1.1);
    opacity: 0.7;
}



#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(65, 65, 65, 0.925);
    margin-bottom: 20px;
}

#news dt {
    width: 20%;
    border-bottom: 1px solid rgba(65, 65, 65, 0.925);
    padding: 15px;
}

#news dd {
    width: 80%;
    border-bottom: 1px solid rgba(65, 65, 65, 0.925);
    padding: 15px;
}



#contact p {
    text-align: center;
    margin-bottom: 20px;
}

#contact dl {
    display: flex;
    flex-wrap: wrap;
}

#contact dt {
    width: 15%;
    margin-bottom: 10px;
}

#contact dd {
    width: 85%;
    margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
    width: 100%;
    border: 1px solid rgba(20, 20, 20, 0.925);
    padding: 10px;
}

#contact dd textarea {
    height: 10rem;
}

#contact .button {
    text-align: center;
}

#contact .button input {
    border: 1px solid rgba(20, 20, 20, 0.925);
    background-color: rgba(129, 129, 129, 0.925);
    color: rgba(255, 255, 255, 0.925);
    width: 200px;
    padding: 15px 0;
    transition: all 0.3s;
}

#contact .button input:hover {
    background-color: rgba(146, 146, 146, 0.925);
    color: rgba(15, 45, 15, 0.90);
}





#main{
    margin-bottom: 80px;
}

#main img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


section {
  scroll-margin-top: 0; 
}




@media screen and (max-width: 600px) {
    .site-title {
        margin-top: 20px;
    }

    #header {
        flex-direction: column;
        height: auto;
        line-height: 40px;
        margin-top: 20px;
    }
    #header li {
        font-size: 0.8rem;
        margin-left: 20px;
    }
    #header li img.icon {
        width: 20px;
        margin-top: 15px;
    }

    #works ul {
        flex-direction: column;
    }
    
    #works ul li {
        width: 100%;
    }


    #news dl {
        flex-direction: column;
    }

    #news dt {
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }

    #news dd {
        width: 100%;
        padding-top: 0;
    }


    #contact dl {
        flex-direction: column;
    }

    #contact dt {
        width: 100%;
        margin-bottom: 5px;
    }

    #contact dd {
        width: 100%;
    }

}
