html {
    font-size: 100%; /* 1rem = 16px */
    scroll-behavior: smooth;
}

body {
    background-color: rgba(150, 180, 160, 0.555);/* 背景色 */
    font-family: "M PLUS Rounded 1c",sans-serif;
}

a {
    text-decoration: none;/* リンクの下線を削除します */
}

p {
    font-size: 1.3rem; /* 1.3rem = 20.8px */
}

/* 画像のスタイル */
img {
    max-width: 100%;/* 画像のレスポンシブ性を保証する */
}

li {
    list-style: none;/* リストのデフォルトのスタイルを削除 */
    font-size: 1.2rem; /* 1.2rem = 19.2px */
}

.aa {
    font-family: "MS Gothic", "Osaka-Mono", "Courier New", monospace;
    white-space: pre;
    font-size: 16px;
    line-height: 18px;
    overflow-x: auto;
    display: block;
}

.aa {
    background-color: rgba(150, 180, 160, 0);
    border: 1px solid #cccccc00;
    padding: 10px;
}

.aa-wrapper {
    text-align: center;
    margin: 20px 0;
}


/* ヘッダータイトル styles */
.site-title {
    line-height: 1.2;/* タイトルの行間を1.2に設定 */
    font-weight: 600;/* タイトルのフォントウェイトを600に設定 */
    font-size: 2.4rem;/* 2.4rem = 38.4px */
}    

.site-title a {
    color: rgba(185, 125, 125, 0.925);/* タイトルリンクの色 */
    display: block;/* ブロック要素として表示 */
    transition: all 0.3s ease;/* ホバー時のトランジション効果 */
}

.site-title a:hover {
    opacity: 1.8;/* ホバー時の透明度を1.8に設定 */
    color: rgba(240, 45, 45, 0.815);/* ホバー時のタイトルリンクの色 */
}


/* Header styles */
#header {
    max-width: 960px;/* 960px = 60rem */
    display: flex;/* レイアウト用のフレックスボックス */
    align-items: center;/* アイテムを垂直に中央揃え */
    justify-content: space-between;/* アイテムを左右に配置 */
    margin: 0 auto;/* 自動マージンで中央揃え */
    padding: 0 4%;/* 左右のパディングを4%に設定 */
    height: 170px;/* ヘッダーの高さを170pxに設定 */
}

/* Header title styles */
#header ul {
    display: flex;/* フレックスボックスでタイトルを配置 */
    padding: 10px 0;/* 上下のパディングを10pxに設定 */
    align-items: center;/* アイテムを垂直に中央揃え */
}

#header ul li {
    font-size: 0.9rem;/* 0.9rem = 14.4px */
    margin-left: 30px;/* 左側のマージンを30pxに設定 */
}

#header ul li a {
    color: rgb(115, 160, 160);/* リンクの色 */
    transition: all 0.3s ease;/* ホバー時のトランジション効果 */
}

#header ul li a:hover {
    opacity: 0.9;/* ホバー時の透明度を設定 */
    color: rgba(15, 100, 180, 0.925);/* ホバー時のリンクの色 */
}

#header li img.icon {
    width: 30px;/* Twitterアイコンの幅を30pxに設定 */
    cursor: pointer;/* カーソルをポインターに変更 */
    transition: transform 0.3s ease-in-out;/* ホバー時のトランジション効果 */
}

#header li img.icon:hover {
    transform: scale(1.35);/* ホバー時に少し拡大 */
}



/* Aboutタイトル */
.sec-title {
    margin: 30px auto;/* タイトルの上下のマージンを30pxに設定 */
    width: 70px;/* タイトルの幅を設定 */
    color: rgba(210, 160, 90, 0.925);/* タイトルの色 */
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
    cursor: pointer;/* カーソルをポインターに変更 */
    transition: color 0.3s ease;/* 色変化にアニメーション */
}

/* ホバー効果 */
.sec-title:hover {
    color: #cc7400;/* ホバー時に色変更 */
}

/* about欄 */
.wrapper {
    font-size: 0.9rem; /* 0.9rem = 14.4px */
    max-width: 960px;
    margin: 0 auto 130px auto;
    padding: 0 4%;
}

/* about内構造 */
#about ul {
    margin-bottom: 30px;
}

#about ul li {
    margin-bottom: 3px;
}

#about ul li:first-child {
    margin-bottom: 30px;
}


/* works */
#works ul{/* 作品リストのスタイル */
    display: flex;/* フレックスボックスで配置 */
    flex-wrap: wrap;/* アイテムを折り返す */
    justify-content: space-between;/* アイテムを均等に配置 */
    margin-bottom: 50px;/* 下のマージンを50pxに設定 */
}

#works ul li {/* 各作品のスタイル */
    width: 31%;
    margin-bottom: 23px;
}

#works ul li img {/* 画像のスタイル */
    width: 500px;
    height: auto;
    object-fit: cover;/* 必要に応じて画像の切り取り方を調整 */
    cursor: pointer;/* カーソルをポインターに変更 */
    transition: all 0.3s;/* ホバー時のトランジション効果 */
}

#works ul li img:hover {/* ホバー時のスタイル */
    transform: scale(1.1, 1.1);/* ホバー時に1.2倍に拡大 */
    opacity: 0.7;/* ホバー時に透明度を0.7に設定 */
}


/* news */
#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(65, 65, 65, 0.925);
    margin-bottom: 20px;
}

#news dt {
    width: 20%;
    border-bottom: 1px solid rgba(65, 65, 65, 0.925);
    padding: 15px;
}

#news dd {
    width: 80%;
    border-bottom: 1px solid rgba(65, 65, 65, 0.925);
    padding: 15px;
}


/* contact*/
#contact p {
    text-align: center;
    margin-bottom: 20px;
}

#contact dl {
    display: flex;
    flex-wrap: wrap;
}

#contact dt {
    width: 15%;
    margin-bottom: 10px;
}

#contact dd {
    width: 85%;
    margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
    width: 100%;
    border: 1px solid rgba(20, 20, 20, 0.925);
    padding: 10px;
}

#contact dd textarea {
    height: 10rem;/* コンタクト内容欄の幅 */
}

#contact .button {
    text-align: center;
}

#contact .button input {
    border: 1px solid rgba(20, 20, 20, 0.925);
    background-color: rgba(129, 129, 129, 0.925);
    color: rgba(255, 255, 255, 0.925);
    width: 200px;
    padding: 15px 0;
    transition: all 0.3s;
}

#contact .button input:hover {
    background-color: rgba(146, 146, 146, 0.925);
    color: rgba(15, 45, 15, 0.90);
}




/* main PC用のスタイル */
#main{
    margin-bottom: 80px;
}

#main img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


section {
  scroll-margin-top: 0; /* ヘッダーの高さ分だけ余白を確保 */
}



/* sp スマホ用のスタイル */
@media screen and (max-width: 600px) {
    .site-title {
        margin-top: 20px;/* タイトルの上のマージンを20pxに設定 */
    }
    /* スマホ用のヘッダーのスタイル */
    #header {
        flex-direction: column;/* ヘッダーのアイテムを縦に配置 */
        height: auto;/* 高さを自動に設定 */
        line-height: 40px;/* 行間を40pxに設定 */
        margin-top: 20px;/* 上のマージンを20pxに設定 */
    }
    #header li {
        font-size: 0.8rem; /* 0.8rem = 12.8px */
        margin-left: 20px;/* 左側のマージンを20pxに設定 */
    }
    #header li img.icon {
        width: 20px;
        margin-top: 15px;
    }
    /* works */
    #works ul {
        flex-direction: column;
    }
    
    #works ul li {
        width: 100%;
    }

    /* news */
    #news dl {
        flex-direction: column;
    }

    #news dt {
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }

    #news dd {
        width: 100%;
        padding-top: 0;
    }

    /* contact */
    #contact dl {
        flex-direction: column;
    }

    #contact dt {
        width: 100%;
        margin-bottom: 5px;
    }

    #contact dd {
        width: 100%;
    }
}