body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url(umbrella4060X3076.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll; 
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 1em;
  text-align: center;
}

.intro {
  padding: 2em;
  text-align: center;
}

.animated-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  animation: moveBox 3s infinite alternate;
}

.footer {
  clear:both;
}
.footer p {
  padding-top: 5px;
  text-align: center;
  background:rgba(0, 0, 0, 0);
}


@keyframes moveBox {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
