
h1{background: rgba(76,175,80,0);padding:10px;font-size:16pt;color:#d3d3d3;}
h2{font-size:10pt;padding:10px;color:#696969;border-top:0px dotted gray;border-bottom:0px dotted gray;
   position: fixed; /* 要素を固定 */
            bottom: 20px; /* 上からの距離を指定 */
            left: 20px; /* 右からの距離を指定 */
}
h3{font-size:10pt;padding:10px;color:#696969;border-top:0px dotted gray;border-bottom:0px dotted gray;}
h4{font-size:10pt;padding:10px;color:#696969;border-top:0px dotted gray;border-bottom:0px dotted gray;}
.contents{width:px;margin-left:auto;margin-right:auto;padding:10px;}/* div class navの列 */
.left{width:200px;float:left;}
.right{width:400px;float:right;}

.footer{clear:both;}
.footer p{padding-top:5px;text-align:center;background:#eee;}


a{text-decoration:none;line-height:20px;}
a:hover{color:white;}/* nav a */


.back{font-size:10pt;text-align:right;}









